body{
    margin: 0;
    padding: 0;
    background: #262626; 
}
.hexagon {
	width: 190px;
	height: 109px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.hexagon::before,
.hexagon::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
}

.hexagon::before{
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}
.hexagon::after{
    -webkit-transform: rotate(60deg);
    transform: rotate(-60deg);
}

.hexagon,
.hexagon::before,
.hexagon::after{
/*    background: #fff;*/
/*    border: 1px solid #000;*/
    background: rgba(48,141,255,0.5);
}











